# JUCE-style formatting for gummy-berry projects.
Language: Cpp
Standard: c++20
BasedOnStyle: LLVM

AccessModifierOffset: -4
AlignAfterOpenBracket: Align
AlignTrailingComments: true
AllowShortBlocksOnASingleLine: Empty
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: Never
AlwaysBreakTemplateDeclarations: Yes
BreakBeforeBraces: Allman
BreakConstructorInitializers: BeforeComma
ColumnLimit: 0
ConstructorInitializerIndentWidth: 4
Cpp11BracedListStyle: false
IndentCaseLabels: true
IndentWidth: 4
MaxEmptyLinesToKeep: 1
NamespaceIndentation: All
PointerAlignment: Left
SpaceAfterCStyleCast: true
SpaceBeforeCpp11BracedList: true
SpaceBeforeParens: Always
SpacesInParentheses: false
TabWidth: 4
UseTab: Never
